.firstHint {
    width: 300px;
    float: left;
    height: 200px;
    background: gray;
    margin: 10px;
}

.secondHint {
    width: 300px;
    float: left;
    height: 200px;
    background: gray;
    margin: 10px;
}

img {
    height: 100px;
    width: 100px;
}