.container {
    display: flex;
    width: 100%;
    background-color: #DE9C51;
    color: #FFFFFF;
    justify-content: center;
}

.item {
    padding: 8px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
}