.container {
    display: flex;
    width: 100%;
    background-color: #DE9C51;
    color: #FFFFFF;
    text-align: center;
}

.item {
    padding: 8px;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}